// Colors
$color_grey: #bcbcbc;
$color_white: #fff;

// Size
$w_100: 100%;
$w_320: 320px;
$w_480: 480px;
$w_768: 768px;

// Font
$font_chivo: 'Chivo', sans-serif;
$font_quicksand: 'Quicksand', sans-serif;
$font_lato: 'Lato', Calibri, Arial, sans-serif;
$font_open: 'Open Sans', sans-serif;


// Mixings
@mixin responsive($value){
  width: $value;
}

@mixin size($value){
  font-size: $value;
}

