@import "vars";
/* ---------------------------------------------------------------------- */
/*	Import styles
/* ---------------------------------------------------------------------- */

/*Google Fonts*/
@import url("http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic");

@import url("http://fonts.googleapis.com/css?family=Chivo:900");

@import url("http://fonts.googleapis.com/css?family=Quicksand");

/* Flexslider */
@import url("css/flexslider.css");

/* Fancybox Lightbox */
@import url("fancybox/jquery.fancybox.css");

/* CSS Animations */
@import url("animations/animate.css");

/* General -----------------------------*/

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, img, small, strong, ol, ul, li, form, label, table, caption, tr, td, footer, header {
  margin: 0;
  padding: 0;
  border: 0;
  @include size($w_100);
  font: inherit;
  vertical-align: baseline;
}

footer, header, menu, nav, section {
  display: block;
}

body {
  font-family: $font_lato;
  background: transparent;
  font-weight: normal;
  color: $color_grey;
  line-height: 1;
  text-rendering: optimizeLegibility;
  font-weight: 400;
  @include size(62.5%);
  background: black url("../img/bg/broken_noise.png") repeat 0 0;
}

p {
  @include size(1.4em);
  line-height: 1.6em;
  margin-bottom: 10px;
}

ol, ul {
  list-style: none;
}

a {
  &:hover {
    text-decoration: none;
    outline: 0;
    color: #CB0D00;
  }
  &:focus {
    outline: 0;
    text-decoration: none;
    color: #CB0D00;
  }
  outline: 0;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  color: $color_white;
  font-weight: bold;
  margin: 0.9em 0;
}

[class^="icon-"], [class*=" icon-"] {
  background: none;
}

.no, hr {
  display: none !important;
}

section.generic {
  padding: 70px 0 130px 0;
}

nav a {
  &:hover, &:focus {
    outline: none;
  }
}

.title h1 {
  color: $color_white;
  @include size(4.8em);
  text-transform: uppercase;
  line-height: 1.4em;
  margin: 1% 0;
  font-family: $font_chivo;
  small {
    color: $color_white;
    font-size: 48px;
    font-family: $font_quicksand;
  }
}

.tooltip-inner {
  max-width: 200px;
  padding: 8px;
  color: $color_white;
  text-align: center;
  text-decoration: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.accordion-group {
  border: 1px solid #000;
  border-radius: 0;
}

.accordion-toggle {
  color: $color_white;
  @include size(1.9em);
  font-weight: bold;
}

.accordion-inner {
  padding: 9px 15px;
  border-top: 1px solid #000;
}

.accordion-toggle:hover {
  background: rgba(0, 0, 0, 0.5);
}

/*  Transitional elements
================================================== */

ul.social li a i, .logos img, #Grid li a, .pricing-table li a, .accordion-toggle {
  -webkit-transition: 0.3s all ease;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -ms-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.discography a:hover {
  span i, img {
    -webkit-transition: 0.3s all ease;
    -moz-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    -ms-transition: 0.3s all ease;
    transition: 0.3s all ease;
  }
}

.videos a:hover {
  span i, img {
    -webkit-transition: 0.3s all ease;
    -moz-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    -ms-transition: 0.3s all ease;
    transition: 0.3s all ease;
  }
}

.blog a, .tour-dates .post-meta-more .btn {
  -webkit-transition: 0.3s all ease;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -ms-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

/* Main Menu ---------------------------*/

.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner {
  box-shadow: none;
}

.navbar-fixed-top {
  z-index: 2;
}

nav .navbar-inner {
  border: none;
  padding: 20px 0;
}

.navbar .nav {
  margin: 10px 0 0 0;
  > li > a {
    color: $color_white;
    font-weight: 700;
    text-transform: uppercase;
    @include size(1.3em);
    position: relative;
    display: inline-block;
    margin: 0 11px;
    outline: none;
    text-decoration: none;
    letter-spacing: 2px;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
    padding: 0 15px;
    height: 45px;
    line-height: 45px;
  }
  a:hover {
    color: $color_white;
  }
  > .active > a {
    box-shadow: none;
    color: $color_white;
    &:hover, &:focus {
      box-shadow: none;
      color: $color_white;
    }
  }
}

/* Effect: border switch */

.nav li a {
  &::before, &::after {
    position: absolute;
    width: 45px;
    height: 2px;
    background: $color_white;
    content: '';
    opacity: 0.2;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    pointer-events: none;
  }
  &::before {
    top: 0;
    left: 0;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    transform-origin: 0 0;
  }
  &::after {
    right: 0;
    bottom: 0;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transform-origin: 100% 0;
    -moz-transform-origin: 100% 0;
    transform-origin: 100% 0;
  }
  &:hover {
    &::before, &::after {
      opacity: 1;
    }
  }
  &:focus {
    &::before, &::after {
      opacity: 1;
    }
  }
  &:hover::before, &:focus::before {
    left: 50%;
    -webkit-transform: rotate(0deg) translateX(-50%);
    -moz-transform: rotate(0deg) translateX(-50%);
    transform: rotate(0deg) translateX(-50%);
  }
  &:hover::after, &:focus::after {
    right: 50%;
    -webkit-transform: rotate(0deg) translateX(50%);
    -moz-transform: rotate(0deg) translateX(50%);
    transform: rotate(0deg) translateX(50%);
  }
}

.navbar .brand {
  margin: 0;
  padding: 0;
}

/* Modal ------------------------------*/

.modal {
  width: 460px;
  left: 52%;
  font-family: $font_open;
}

.modal-header h3 {
  @include size(2em);
  color: #000;
}

.modal {
  input, textarea {
    width: 96%;
    font-family: $font_open;
    padding: 15px 10px;
  }
  .send {
    -webkit-border-radius: 2px;
    /* Safari & Chrome */
    -moz-border-radius: 2px;
    /* Firefox */
    -ms-border-radius: 2px;
    /* Internet Explorer */
    -o-border-radius: 2px;
    /* Opera */
    border-radius: 2px;
    /* W3C */
    height: 35px;
    line-height: 20px;
    color: $color_white;
    width: 20%;
    border: none;
    padding: 10px 15px 12px 15px;
    font-weight: bold;
    line-height: 1;
    @include size(1.6em);
  }
}

/* Header ------------------------------*/

.parallax-bg1 {
  background-image: url("../img/bg-01.jpg");
}

.parallax {
  width: $w_100;
  background-attachment: fixed;
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #3c3c3c;
}

header {
  padding: 0;
  color: $color_white;
  text-align: center;
}

.front header {
  min-height: 900px;
}

.flexheader {
  margin-top: 150px;
}

header .container {
  padding: 10% 0 10% 0;
}

.flexheader .slides {
  top: 0;
  position: relative;
  text-align: center;
  h1 {
    @include size(72px);
    line-height: 128px;
    margin: 0;
    font-family: 'Chivo', sans-serif;
  }
  h2 {
    background: rgba(0, 0, 0, 0.5);
    @include size(24px);
    line-height: 42px;
    font-weight: normal;
    padding: 0 20px;
    margin: 0 0 100px 0;
    display: inline-block;
  }
}

.flex-control-nav {
  display: none;
}

/* About Band Members ------------------*/

.ch-item {
  width: 262px;
  height: 262px;
  border-radius: 50%;
  position: relative;
  margin: 40px 0 30px 0;
  cursor: default;
  box-shadow: inset 0 0 0 16px rgba(255, 255, 255, 0.6), 0 0 0px 4px rgba(0, 0, 0, 0.4);
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.ch-img-1 {
  background-image: url("../img/band-01.jpg");
}

.ch-img-2 {
  background-image: url("../img/band-02.jpg");
}

.ch-img-3 {
  background-image: url("../img/band-03.jpg");
}

.ch-info {
  position: absolute;
  background: rgba(100, 100, 100, 0.6);
  width: inherit;
  height: inherit;
  border-radius: 50%;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -o-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-backface-visibility: hidden;
  h3 {
    color: $color_white;
    letter-spacing: 2px;
    @include size(22px);
    margin: 0 auto;
    padding: 0;
    font-family: $font_chivo;
    text-shadow: 0 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.3);
  }
  p {
    color: $color_white;
    padding: 10px 5px;
    margin: 0 auto;
    @include size(24px);
    opacity: 0;
    -webkit-transition: all 1s ease-in-out 0.4s;
    -moz-transition: all 1s ease-in-out 0.4s;
    -o-transition: all 1s ease-in-out 0.4s;
    -ms-transition: all 1s ease-in-out 0.4s;
    transition: all 1s ease-in-out 0.4s;
  }
}

.ch-item:hover {
  box-shadow: inset 0 0 0 7px rgba(255, 255, 255, 0.8), 0 1px 2px rgba(0, 0, 0, 0.1);
  .ch-info {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    p {
      opacity: 1;
    }
  }
}

.ch-info {
  display: table;
}

.member {
  display: table-cell;
  vertical-align: middle;
}

ul.social {
  padding: 0;
  margin: 0;
  list-style: 0;
  text-align: center;
  li {
    display: inline-block;
    a i {
      @include size(2em);
      color: #999999;
    }
  }
}

/* Logos -----------------------------*/

.parallax-bg2 {
  background-image: url("../img/bg-02.jpg");
  padding: 0;
}

.logos {
  .container {
    padding: 10% 0;
    text-align: center;
  }
  img {
    margin: 2% 0;
    &:hover {
      opacity: 0.5;
    }
  }
}

/* Gallery -----------------------------*/

.gallery img {
  -webkit-border-radius: 2px;
  /* Safari & Chrome */
  -moz-border-radius: 2px;
  /* Firefox */
  -ms-border-radius: 2px;
  /* Internet Explorer */
  -o-border-radius: 2px;
  /* Opera */
  border-radius: 2px;
  /* W3C */
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -ms-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
}

.imageinfo {
  padding: 15px 0;
  border-bottom: 1px solid #000;
  margin-bottom: 50px;
}

.gallery {
  h2 a {
    color: $color_white;
    background: transparent;
    @include size(2.1em);
    font-family: $font_quicksand;
    margin: 0;
    text-transform: uppercase;
  }
  .port-item i {
    font-size: 0.4em;
  }
  h2 a {
    &::before, &::after {
      display: inline-block;
      opacity: 0;
      -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
      -moz-transition: -moz-transform 0.3s, opacity 0.2s;
      transition: transform 0.3s, opacity 0.2s;
    }
    &::before {
      margin-right: 10px;
      content: '[';
      -webkit-transform: translateX(20px);
      -moz-transform: translateX(20px);
      transform: translateX(20px);
    }
    &::after {
      margin-left: 10px;
      content: ']';
      -webkit-transform: translateX(-20px);
      -moz-transform: translateX(-20px);
      transform: translateX(-20px);
    }
    &:hover {
      &::before, &::after {
        opacity: 1;
        -webkit-transform: translateX(0px);
        -moz-transform: translateX(0px);
        transform: translateX(0px);
      }
    }
    &:focus {
      &::before, &::after {
        opacity: 1;
        -webkit-transform: translateX(0px);
        -moz-transform: translateX(0px);
        transform: translateX(0px);
      }
    }
  }
}

/* Effect: Brackets */

.port-item {
  overflow: hidden;
  position: relative;
  display: block;
  -webkit-transition: ease-in .4s;
  -moz-transition: ease-in .4s;
  -o-transition: ease-in .4s;
  -ms-transition: ease-in .4s;
  transition: ease-in .4s;
  &:hover img {
    opacity: 0.7;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    transform: scale(1.5);
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
  }
}

.hovers {
  color: $color_white;
  @include size(12em);
  font-weight: 300;
  text-align: center;
  left: 50%;
  margin-left: -30px;
  margin-top: -30px;
  position: absolute;
  top: 20%;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  opacity: 0;
  -webkit-transition: ease-in .4s;
  -moz-transition: ease-in .4s;
  -o-transition: ease-in .4s;
  -ms-transition: ease-in .4s;
  transition: ease-in .4s;
}

.port-item:hover .hovers {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  opacity: 1!important;
  z-index: 9999;
  top: 30%;
}

/* Tour  -----------------------------*/

ul.pricing-table {
  width: 24.9%;
  float: left;
  margin: 1px 0 0 -1px;
  position: relative;
  border: 1px solid black;
  li.header {
    padding: 0;
  }
  h2 {
    @include size(1.8em);
    padding: 24px 24px;
    font-weight: 200;
    text-align: left;
    text-transform: uppercase;
    color: $color_white;
    margin: 0;
    font-weight: 300;
    position: relative;
    background: #000;
  }
}

.pricing-table li {
  background: rgba(0, 0, 0, 0.5);
  text-align: left;
  padding: 25px 15px;
  margin: 0;
  @include size(1.5em);
  border-top: 1px solid #000;
  line-height: 2.2em;
  i {
    color: #292929;
    display: block;
    float: left;
    @include size(1.5em);
    vertical-align: baseline;
    margin-right: 4%;
  }
  a {
    color: #bbb;
    &.activated:hover {
      color: #bbb;
    }
  }
}

/* extra --------------------------*/

.parallax-bg3 {
  background-image: url("../img/bg-03.jpg");
}

.extra {
  .row-fluid [class*="span"] {
    &:first-child {
      margin-right: 0;
    }
    &:last-child {
      margin-left: 0;
    }
  }
  .container {
    padding: 10% 0 10% 0;
  }
  .video iframe {
    width: $w_100;
  }
}

.accordion-group ol {
  list-style-type: decimal;
  position: relative;
  display: block;
  list-style-position: inside;
  margin-left: 2%;
  li {
    @include size(1.4em);
    line-height: 1.6em;
    margin-bottom: 10px;
  }
}

.accordion-heading img {
  margin: 0 5px 0 0;
  vertical-align: -4px;
}

.accordion-group h3 {
  @include size(1.8em);
}

/* Discography --------------------------*/

.discography a {
  &.soundcloudplayer {
    display: block;
    position: relative;
  }
  span {
    width: 53px;
    height: 53px;
    top: 30%;
    right: 40%;
    display: block;
    position: absolute;
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
    -webkit-border-radius: 50%;
    /* Safari & Chrome */
    -moz-border-radius: 50%;
    /* Firefox */
    -ms-border-radius: 50%;
    /* Internet Explorer */
    -o-border-radius: 50%;
    /* Opera */
    border-radius: 50%;
    /* W3C */
    i {
      color: $color_white;
      @include size(3em);
      margin: 0!important;
      text-align: center;
      padding: 0;
      vertical-align: baseline;
      line-height: 1.6em;
      display: inline-block;
    }
  }
  &:hover img {
    opacity: 0.5;
  }
}

/* Videos --------------------------*/

.carousel-inner {
  position: relative;
  width: 90%;
  overflow: hidden;
  text-align: center;
  margin: 0 auto;
}

.carousel-control {
  position: absolute;
  top: 40%;
  left: 15px;
  width: 35px;
  height: 35px;
  margin-top: -20px;
  @include size(46px);
  font-weight: 100;
  line-height: 26px;
  text-align: center;
  background: transparent;
  -webkit-border-radius: 23px;
  -moz-border-radius: 23px;
  border-radius: 23px;
  &:hover, &:focus {
    border-color: #292929;
    color: #292929;
  }
}

.videos {
  .item {
    float: left;
  }
  img {
    margin-bottom: 15%;
    max-width: $w_100;
    height: auto;
  }
  a {
    &.iframe {
      display: block;
      position: relative;
    }
    span {
      width: 53px;
      height: 53px;
      top: 30%;
      right: 40%;
      display: block;
      position: absolute;
      text-align: center;
      background: rgba(0, 0, 0, 0.7);
      -webkit-border-radius: 50%;
      /* Safari & Chrome */
      -moz-border-radius: 50%;
      /* Firefox */
      -ms-border-radius: 50%;
      /* Internet Explorer */
      -o-border-radius: 50%;
      /* Opera */
      border-radius: 50%;
      /* W3C */
      i {
        color: $color_white;
        @include size(3em);
        margin: 0!important;
        text-align: center;
        padding: 0;
        vertical-align: baseline;
        line-height: 1.6em;
        display: inline-block;
      }
    }
    &:hover img {
      opacity: 0.5;
    }
  }
}

/* Twitter -----------------------------*/

.parallax-bg4 {
  background-image: url("../img/bg-04.jpg");
}

.twitter {
  .container {
    padding: 6% 0;
  }
  h3 {
    @include size(2.2em);
  }
}

.icon-twitter {
  @include size(9em);
}

/* News ------------------------------*/

.blog {
  h2 {
    font-family: $font_chivo;
    @include size(3em);
  }
  article {
    margin-bottom: 3%;
  }
  h3 {
    margin: 4% 0;
    a {
      @include size(2.3em);
      font-family: $font_quicksand;
      color: $color_white;
    }
  }
  .post-meta {
    margin: 3% 0;
    a {
      color: $color_grey;
      @include size(1.2em);
      line-height: 1em;
    }
    i {
      color: #292929;
      @include size(1.5em);
      vertical-align: baseline;
      margin-right: 1%;
    }
  }
  .ctablog {
    font-size: 2.3em;
    font-family: $font_quicksand;
    color: $color_white;
    background: #292929;
    width: 98%;
    text-shadow: none;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    padding: 2% 1%;
  }
  iframe {
    width: $w_100;
  }
}

/* News:widget ------------------------------*/

.tour-dates {
  li.einfo {
    clear: both;
    float: left;
    width: $w_100;
    margin: 0 0 8% 0;
    padding: 0 0 20px 0;
    border-bottom: 1px solid #292929;
  }
  .post-date {
    float: left;
    margin-right: 3%;
    width: 40px;
    display: inline;
    @include size(1.6em);
    text-transform: uppercase;
  }
}

.post-meta-more {
  float: left;
  h3 {
    margin-top: 0;
  }
}

.tour-dates .post-meta-more .btn {
  box-shadow: none;
  text-shadow: none;
  color: $color_white;
  @include size(1.2em);
  border-radius: 0;
  border: 0;
  &:hover {
    background: #000;
  }
}

/* Map ------------------------------*/

#map iframe {
  width: $w_100;
}

/* Footer ------------------------------*/

footer {
  width: $w_100;
  text-align: center;
  padding: 6% 0 1% 0;
  i {
    margin-bottom: 15px;
    @include size(8em);
    display: block;
    color: #292929;
  }
  .copyright {
    padding-top: 8%;
    h6 {
      @include size(1.1em);
      text-transform: uppercase;
      font-weight: 400;
      color: #77777a;
      letter-spacing: 0.20em;
    }
  }
}

/* Go to top ------------------------------------*/

.scrollup {
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 80px;
  right: 30px;
  display: none;
  background: transparent url("../img/to-top.png") center center no-repeat;
  i {
    color: $color_white;
    text-align: center;
    display: block;
    line-height: 48px;
    font-size: 20px;
  }
  &:hover {
    opacity: 0.7;
  }
}
