@charset "utf-8";

/* ============================== */
/*
	Title: orange Color
*/
/* ============================== */

$orange: #ff5400;

.tooltip.top .tooltip-arrow {
	border-top-color: $orange;
}

.tooltip.right .tooltip-arrow {
	border-right-color: $orange;
}

.tooltip.left .tooltip-arrow {
	border-left-color: $orange;
}

.tooltip.bottom .tooltip-arrow {
	border-bottom-color: $orange;
}

.tooltip-inner {
	background-color: $orange;
}

nav .navbar-inner, .navbar-fixed-top{
	background: $orange;
}

.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
	background: $orange;
}

.modal .send {
	background:$orange;
}

ul.social li a:hover i { 
	color: $orange;
}

.gallery a{
	background: $orange;
}

.gallery h2 a:hover{
	color: $orange;
}

.pricing-table li a.activated {
	color:$orange;
}

.pricing-table li a:hover {
	color:$orange;
}

.accordion-group p a {
	color:$orange;
}

.accordion-toggle:hover {
	color:$orange;
}

.videos a:hover span i {
	color:$orange;
}

.twitter a {
	color: $orange;
}

.carousel-control {
	color: $orange;
	border: 2px solid $orange;
}

.discography a:hover span i {
	color: $orange;
}

.blog h3 a:hover {
	color:$orange;
}

.blog .post-meta a:hover {
	color:$orange;
}

.blog .ctablog:hover {
	background:$orange;
}

.tour-dates .post-meta-more .btn{
	background:$orange;
}