/* ============================== */
/*
	Title: cream Color
*/
/* ============================== */
/* line 9, ../../sass/color/cream.scss */
.tooltip.top .tooltip-arrow {
  border-top-color: #cdb380;
}

/* line 13, ../../sass/color/cream.scss */
.tooltip.right .tooltip-arrow {
  border-right-color: #cdb380;
}

/* line 17, ../../sass/color/cream.scss */
.tooltip.left .tooltip-arrow {
  border-left-color: #cdb380;
}

/* line 21, ../../sass/color/cream.scss */
.tooltip.bottom .tooltip-arrow {
  border-bottom-color: #cdb380;
}

/* line 25, ../../sass/color/cream.scss */
.tooltip-inner {
  background-color: #cdb380;
}

/* line 29, ../../sass/color/cream.scss */
nav .navbar-inner, .navbar-fixed-top {
  background: #cdb380;
}

/* line 33, ../../sass/color/cream.scss */
.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
  background: #cdb380;
}

/* line 37, ../../sass/color/cream.scss */
.modal .send {
  background: #cdb380;
}

/* line 41, ../../sass/color/cream.scss */
ul.social li a:hover i {
  color: #cdb380;
}

/* line 45, ../../sass/color/cream.scss */
.gallery a {
  background: #cdb380;
}

/* line 49, ../../sass/color/cream.scss */
.gallery h2 a:hover {
  color: #cdb380;
}

/* line 53, ../../sass/color/cream.scss */
.pricing-table li a.activated {
  color: #cdb380;
}

/* line 57, ../../sass/color/cream.scss */
.pricing-table li a:hover {
  color: #cdb380;
}

/* line 61, ../../sass/color/cream.scss */
.accordion-group p a {
  color: #cdb380;
}

/* line 65, ../../sass/color/cream.scss */
.accordion-toggle:hover {
  color: #cdb380;
}

/* line 69, ../../sass/color/cream.scss */
.videos a:hover span i {
  color: #cdb380;
}

/* line 73, ../../sass/color/cream.scss */
.twitter a {
  color: #cdb380;
}

/* line 77, ../../sass/color/cream.scss */
.carousel-control {
  color: #cdb380;
  border: 2px solid #cdb380;
}

/* line 82, ../../sass/color/cream.scss */
.discography a:hover span i {
  color: #cdb380;
}

/* line 86, ../../sass/color/cream.scss */
.blog h3 a:hover {
  color: #cdb380;
}

/* line 90, ../../sass/color/cream.scss */
.blog .post-meta a:hover {
  color: #cdb380;
}

/* line 94, ../../sass/color/cream.scss */
.blog .ctablog:hover {
  background: #cdb380;
}

/* line 98, ../../sass/color/cream.scss */
.tour-dates .post-meta-more .btn {
  background: #cdb380;
}
