/* ============================== */
/*
	Title: cyan Color
*/
/* ============================== */
/* line 10, ../../sass/color/cyan.scss */
.tooltip.top .tooltip-arrow {
  border-top-color: #00aeef;
}

/* line 14, ../../sass/color/cyan.scss */
.tooltip.right .tooltip-arrow {
  border-right-color: #00aeef;
}

/* line 18, ../../sass/color/cyan.scss */
.tooltip.left .tooltip-arrow {
  border-left-color: #00aeef;
}

/* line 22, ../../sass/color/cyan.scss */
.tooltip.bottom .tooltip-arrow {
  border-bottom-color: #00aeef;
}

/* line 26, ../../sass/color/cyan.scss */
.tooltip-inner {
  background-color: #00aeef;
}

/* line 30, ../../sass/color/cyan.scss */
nav .navbar-inner, .navbar-fixed-top {
  background: #00aeef;
}

/* line 34, ../../sass/color/cyan.scss */
.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
  background: #00aeef;
}

/* line 38, ../../sass/color/cyan.scss */
.modal .send {
  background: #00aeef;
}

/* line 42, ../../sass/color/cyan.scss */
ul.social li a:hover i {
  color: #00aeef;
}

/* line 46, ../../sass/color/cyan.scss */
.gallery a {
  background: #00aeef;
}

/* line 50, ../../sass/color/cyan.scss */
.gallery h2 a:hover {
  color: #00aeef;
}

/* line 54, ../../sass/color/cyan.scss */
.pricing-table li a.activated {
  color: #00aeef;
}

/* line 58, ../../sass/color/cyan.scss */
.pricing-table li a:hover {
  color: #00aeef;
}

/* line 62, ../../sass/color/cyan.scss */
.accordion-group p a {
  color: #00aeef;
}

/* line 66, ../../sass/color/cyan.scss */
.accordion-toggle:hover {
  color: #00aeef;
}

/* line 70, ../../sass/color/cyan.scss */
.videos a:hover span i {
  color: #00aeef;
}

/* line 74, ../../sass/color/cyan.scss */
.twitter a {
  color: #00aeef;
}

/* line 78, ../../sass/color/cyan.scss */
.carousel-control {
  color: #00aeef;
  border: 2px solid #00aeef;
}

/* line 83, ../../sass/color/cyan.scss */
.discography a:hover span i {
  color: #00aeef;
}

/* line 87, ../../sass/color/cyan.scss */
.blog h3 a:hover {
  color: #00aeef;
}

/* line 91, ../../sass/color/cyan.scss */
.blog .post-meta a:hover {
  color: #00aeef;
}

/* line 95, ../../sass/color/cyan.scss */
.blog .ctablog:hover {
  background: #00aeef;
}

/* line 99, ../../sass/color/cyan.scss */
.tour-dates .post-meta-more .btn {
  background: #00aeef;
}
