/* ============================== */
/*
	Title: orange Color
*/
/* ============================== */
/* line 11, ../../sass/color/orange.scss */
.tooltip.top .tooltip-arrow {
  border-top-color: #ff5400;
}

/* line 15, ../../sass/color/orange.scss */
.tooltip.right .tooltip-arrow {
  border-right-color: #ff5400;
}

/* line 19, ../../sass/color/orange.scss */
.tooltip.left .tooltip-arrow {
  border-left-color: #ff5400;
}

/* line 23, ../../sass/color/orange.scss */
.tooltip.bottom .tooltip-arrow {
  border-bottom-color: #ff5400;
}

/* line 27, ../../sass/color/orange.scss */
.tooltip-inner {
  background-color: #ff5400;
}

/* line 31, ../../sass/color/orange.scss */
nav .navbar-inner, .navbar-fixed-top {
  background: #ff5400;
}

/* line 35, ../../sass/color/orange.scss */
.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
  background: #ff5400;
}

/* line 39, ../../sass/color/orange.scss */
.modal .send {
  background: #ff5400;
}

/* line 43, ../../sass/color/orange.scss */
ul.social li a:hover i {
  color: #ff5400;
}

/* line 47, ../../sass/color/orange.scss */
.gallery a {
  background: #ff5400;
}

/* line 51, ../../sass/color/orange.scss */
.gallery h2 a:hover {
  color: #ff5400;
}

/* line 55, ../../sass/color/orange.scss */
.pricing-table li a.activated {
  color: #ff5400;
}

/* line 59, ../../sass/color/orange.scss */
.pricing-table li a:hover {
  color: #ff5400;
}

/* line 63, ../../sass/color/orange.scss */
.accordion-group p a {
  color: #ff5400;
}

/* line 67, ../../sass/color/orange.scss */
.accordion-toggle:hover {
  color: #ff5400;
}

/* line 71, ../../sass/color/orange.scss */
.videos a:hover span i {
  color: #ff5400;
}

/* line 75, ../../sass/color/orange.scss */
.twitter a {
  color: #ff5400;
}

/* line 79, ../../sass/color/orange.scss */
.carousel-control {
  color: #ff5400;
  border: 2px solid #ff5400;
}

/* line 84, ../../sass/color/orange.scss */
.discography a:hover span i {
  color: #ff5400;
}

/* line 88, ../../sass/color/orange.scss */
.blog h3 a:hover {
  color: #ff5400;
}

/* line 92, ../../sass/color/orange.scss */
.blog .post-meta a:hover {
  color: #ff5400;
}

/* line 96, ../../sass/color/orange.scss */
.blog .ctablog:hover {
  background: #ff5400;
}

/* line 100, ../../sass/color/orange.scss */
.tour-dates .post-meta-more .btn {
  background: #ff5400;
}
