/* ---------------------------------------------------------------------- */
/*	Version 1024px
/* ---------------------------------------------------------------------- */
@media handheld, only screen and (max-width: 1024px) {
  /* line 6, ../sass/media-queries.scss */
  .ch-item {
    width: 152px;
    height: 152px;
    margin: 4% auto;
  }
}
/* ---------------------------------------------------------------------- */
/* Portrait tablet to landscape and desktop 979px */
/* ---------------------------------------------------------------------- */
@media handheld, only screen and (max-width: 979px) {
  /* line 18, ../sass/media-queries.scss */
  .navbar-fixed-top {
    margin: 0;
  }

  /* line 21, ../sass/media-queries.scss */
  header {
    min-height: 630px;
  }
  /* line 23, ../sass/media-queries.scss */
  header .container {
    padding: 0;
  }

  /* line 27, ../sass/media-queries.scss */
  .flexheader {
    margin-top: 130px;
  }

  /* line 30, ../sass/media-queries.scss */
  ul.pricing-table {
    width: 100%;
    margin-bottom: 2%;
  }

  /* line 34, ../sass/media-queries.scss */
  .pricing-table li {
    padding: 15px 5px;
  }
}
/* ---------------------------------------------------------------------- */
/*	Mobile Version 768px
/* ---------------------------------------------------------------------- */
@media handheld, only screen and (max-width: 768px) {
  /* line 44, ../sass/media-queries.scss */
  .ch-item {
    width: 262px;
    height: 262px;
    margin: 4% auto;
  }

  /* line 49, ../sass/media-queries.scss */
  header {
    min-height: 430px;
  }

  /* line 53, ../sass/media-queries.scss */
  .flexheader .slides h1 {
    font-size: 4em;
    line-height: 1.5em;
  }
  /* line 57, ../sass/media-queries.scss */
  .flexheader .slides h2 {
    font-size: 1.5em;
    line-height: 2em;
  }

  /* line 62, ../sass/media-queries.scss */
  .videos img {
    margin-bottom: 5%;
    max-width: 50%;
  }

  /* line 66, ../sass/media-queries.scss */
  .title h1 {
    font-size: 4em;
  }
  /* line 68, ../sass/media-queries.scss */
  .title h1 small {
    font-size: 1em;
  }
}
/* ---------------------------------------------------------------------- */
/*	Mobile Version 480px
/* ---------------------------------------------------------------------- */
/* ---------------------------------------------------------------------- */
/*	Mobile Version 320px
/* ---------------------------------------------------------------------- */
