/* ---------------------------------------------------------------------- */
/*	Import styles
/* ---------------------------------------------------------------------- */
/*Google Fonts*/
@import url("http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic");
@import url("http://fonts.googleapis.com/css?family=Chivo:900");
@import url("http://fonts.googleapis.com/css?family=Quicksand");
/* Flexslider */
@import url("css/flexslider.css");
/* Fancybox Lightbox */
@import url("fancybox/jquery.fancybox.css");
/* CSS Animations */
@import url("animations/animate.css");
/* General -----------------------------*/
/* line 24, ../sass/style.scss */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, img, small, strong, ol, ul, li, form, label, table, caption, tr, td, footer, header {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 33, ../sass/style.scss */
footer, header, menu, nav, section {
  display: block;
}

/* line 37, ../sass/style.scss */
body {
  font-family: "Lato", Calibri, Arial, sans-serif;
  background: transparent;
  font-weight: normal;
  color: #bcbcbc;
  line-height: 1;
  text-rendering: optimizeLegibility;
  font-weight: 400;
  font-size: 62.5%;
  background: black url("../img/bg/broken_noise.png") repeat 0 0;
}

/* line 49, ../sass/style.scss */
p {
  font-size: 1.4em;
  line-height: 1.6em;
  margin-bottom: 10px;
}

/* line 55, ../sass/style.scss */
ol, ul {
  list-style: none;
}

/* line 59, ../sass/style.scss */
a {
  outline: 0;
  text-decoration: none;
}
/* line 60, ../sass/style.scss */
a:hover {
  text-decoration: none;
  outline: 0;
  color: #CB0D00;
}
/* line 65, ../sass/style.scss */
a:focus {
  outline: 0;
  text-decoration: none;
  color: #CB0D00;
}

/* line 74, ../sass/style.scss */
h1, h2, h3, h4, h5, h6 {
  color: white;
  font-weight: bold;
  margin: 0.9em 0;
}

/* line 80, ../sass/style.scss */
[class^="icon-"], [class*=" icon-"] {
  background: none;
}

/* line 84, ../sass/style.scss */
.no, hr {
  display: none !important;
}

/* line 88, ../sass/style.scss */
section.generic {
  padding: 70px 0 130px 0;
}

/* line 93, ../sass/style.scss */
nav a:hover, nav a:focus {
  outline: none;
}

/* line 98, ../sass/style.scss */
.title h1 {
  color: white;
  font-size: 4.8em;
  text-transform: uppercase;
  line-height: 1.4em;
  margin: 1% 0;
  font-family: "Chivo", sans-serif;
}
/* line 105, ../sass/style.scss */
.title h1 small {
  color: white;
  font-size: 48px;
  font-family: "Quicksand", sans-serif;
}

/* line 112, ../sass/style.scss */
.tooltip-inner {
  max-width: 200px;
  padding: 8px;
  color: white;
  text-align: center;
  text-decoration: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

/* line 123, ../sass/style.scss */
.accordion-group {
  border: 1px solid #000;
  border-radius: 0;
}

/* line 128, ../sass/style.scss */
.accordion-toggle {
  color: white;
  font-size: 1.9em;
  font-weight: bold;
}

/* line 134, ../sass/style.scss */
.accordion-inner {
  padding: 9px 15px;
  border-top: 1px solid #000;
}

/* line 139, ../sass/style.scss */
.accordion-toggle:hover {
  background: rgba(0, 0, 0, 0.5);
}

/*  Transitional elements
================================================== */
/* line 146, ../sass/style.scss */
ul.social li a i, .logos img, #Grid li a, .pricing-table li a, .accordion-toggle {
  -webkit-transition: 0.3s all ease;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -ms-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

/* line 155, ../sass/style.scss */
.discography a:hover span i, .discography a:hover img {
  -webkit-transition: 0.3s all ease;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -ms-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

/* line 165, ../sass/style.scss */
.videos a:hover span i, .videos a:hover img {
  -webkit-transition: 0.3s all ease;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -ms-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

/* line 174, ../sass/style.scss */
.blog a, .tour-dates .post-meta-more .btn {
  -webkit-transition: 0.3s all ease;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -ms-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

/* Main Menu ---------------------------*/
/* line 184, ../sass/style.scss */
.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner {
  box-shadow: none;
}

/* line 188, ../sass/style.scss */
.navbar-fixed-top {
  z-index: 2;
}

/* line 192, ../sass/style.scss */
nav .navbar-inner {
  border: none;
  padding: 20px 0;
}

/* line 197, ../sass/style.scss */
.navbar .nav {
  margin: 10px 0 0 0;
}
/* line 199, ../sass/style.scss */
.navbar .nav > li > a {
  color: white;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.3em;
  position: relative;
  display: inline-block;
  margin: 0 11px;
  outline: none;
  text-decoration: none;
  letter-spacing: 2px;
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
  padding: 0 15px;
  height: 45px;
  line-height: 45px;
}
/* line 215, ../sass/style.scss */
.navbar .nav a:hover {
  color: white;
}
/* line 218, ../sass/style.scss */
.navbar .nav > .active > a {
  box-shadow: none;
  color: white;
}
/* line 221, ../sass/style.scss */
.navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
  box-shadow: none;
  color: white;
}

/* Effect: border switch */
/* line 231, ../sass/style.scss */
.nav li a::before, .nav li a::after {
  position: absolute;
  width: 45px;
  height: 2px;
  background: white;
  content: '';
  opacity: 0.2;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  pointer-events: none;
}
/* line 243, ../sass/style.scss */
.nav li a::before {
  top: 0;
  left: 0;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  transform-origin: 0 0;
}
/* line 253, ../sass/style.scss */
.nav li a::after {
  right: 0;
  bottom: 0;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transform-origin: 100% 0;
  -moz-transform-origin: 100% 0;
  transform-origin: 100% 0;
}
/* line 264, ../sass/style.scss */
.nav li a:hover::before, .nav li a:hover::after {
  opacity: 1;
}
/* line 269, ../sass/style.scss */
.nav li a:focus::before, .nav li a:focus::after {
  opacity: 1;
}
/* line 273, ../sass/style.scss */
.nav li a:hover::before, .nav li a:focus::before {
  left: 50%;
  -webkit-transform: rotate(0deg) translateX(-50%);
  -moz-transform: rotate(0deg) translateX(-50%);
  transform: rotate(0deg) translateX(-50%);
}
/* line 279, ../sass/style.scss */
.nav li a:hover::after, .nav li a:focus::after {
  right: 50%;
  -webkit-transform: rotate(0deg) translateX(50%);
  -moz-transform: rotate(0deg) translateX(50%);
  transform: rotate(0deg) translateX(50%);
}

/* line 287, ../sass/style.scss */
.navbar .brand {
  margin: 0;
  padding: 0;
}

/* Modal ------------------------------*/
/* line 294, ../sass/style.scss */
.modal {
  width: 460px;
  left: 52%;
  font-family: "Open Sans", sans-serif;
}

/* line 300, ../sass/style.scss */
.modal-header h3 {
  font-size: 2em;
  color: #000;
}

/* line 306, ../sass/style.scss */
.modal input, .modal textarea {
  width: 96%;
  font-family: "Open Sans", sans-serif;
  padding: 15px 10px;
}
/* line 311, ../sass/style.scss */
.modal .send {
  -webkit-border-radius: 2px;
  /* Safari & Chrome */
  -moz-border-radius: 2px;
  /* Firefox */
  -ms-border-radius: 2px;
  /* Internet Explorer */
  -o-border-radius: 2px;
  /* Opera */
  border-radius: 2px;
  /* W3C */
  height: 35px;
  line-height: 20px;
  color: white;
  width: 20%;
  border: none;
  padding: 10px 15px 12px 15px;
  font-weight: bold;
  line-height: 1;
  font-size: 1.6em;
}

/* Header ------------------------------*/
/* line 336, ../sass/style.scss */
.parallax-bg1 {
  background-image: url("../img/bg-01.jpg");
}

/* line 340, ../sass/style.scss */
.parallax {
  width: 100%;
  background-attachment: fixed;
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #3c3c3c;
}

/* line 349, ../sass/style.scss */
header {
  padding: 0;
  color: white;
  text-align: center;
}

/* line 355, ../sass/style.scss */
.front header {
  min-height: 900px;
}

/* line 359, ../sass/style.scss */
.flexheader {
  margin-top: 150px;
}

/* line 363, ../sass/style.scss */
header .container {
  padding: 10% 0 10% 0;
}

/* line 367, ../sass/style.scss */
.flexheader .slides {
  top: 0;
  position: relative;
  text-align: center;
}
/* line 371, ../sass/style.scss */
.flexheader .slides h1 {
  font-size: 72px;
  line-height: 128px;
  margin: 0;
  font-family: 'Chivo', sans-serif;
}
/* line 377, ../sass/style.scss */
.flexheader .slides h2 {
  background: rgba(0, 0, 0, 0.5);
  font-size: 24px;
  line-height: 42px;
  font-weight: normal;
  padding: 0 20px;
  margin: 0 0 100px 0;
  display: inline-block;
}

/* line 388, ../sass/style.scss */
.flex-control-nav {
  display: none;
}

/* About Band Members ------------------*/
/* line 394, ../sass/style.scss */
.ch-item {
  width: 262px;
  height: 262px;
  border-radius: 50%;
  position: relative;
  margin: 40px 0 30px 0;
  cursor: default;
  box-shadow: inset 0 0 0 16px rgba(255, 255, 255, 0.6), 0 0 0px 4px rgba(0, 0, 0, 0.4);
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

/* line 409, ../sass/style.scss */
.ch-img-1 {
  background-image: url("../img/band-01.jpg");
}

/* line 413, ../sass/style.scss */
.ch-img-2 {
  background-image: url("../img/band-02.jpg");
}

/* line 417, ../sass/style.scss */
.ch-img-3 {
  background-image: url("../img/band-03.jpg");
}

/* line 421, ../sass/style.scss */
.ch-info {
  position: absolute;
  background: rgba(100, 100, 100, 0.6);
  width: inherit;
  height: inherit;
  border-radius: 50%;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -o-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-backface-visibility: hidden;
}
/* line 439, ../sass/style.scss */
.ch-info h3 {
  color: white;
  letter-spacing: 2px;
  font-size: 22px;
  margin: 0 auto;
  padding: 0;
  font-family: "Chivo", sans-serif;
  text-shadow: 0 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.3);
}
/* line 448, ../sass/style.scss */
.ch-info p {
  color: white;
  padding: 10px 5px;
  margin: 0 auto;
  font-size: 24px;
  opacity: 0;
  -webkit-transition: all 1s ease-in-out 0.4s;
  -moz-transition: all 1s ease-in-out 0.4s;
  -o-transition: all 1s ease-in-out 0.4s;
  -ms-transition: all 1s ease-in-out 0.4s;
  transition: all 1s ease-in-out 0.4s;
}

/* line 462, ../sass/style.scss */
.ch-item:hover {
  box-shadow: inset 0 0 0 7px rgba(255, 255, 255, 0.8), 0 1px 2px rgba(0, 0, 0, 0.1);
}
/* line 464, ../sass/style.scss */
.ch-item:hover .ch-info {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}
/* line 471, ../sass/style.scss */
.ch-item:hover .ch-info p {
  opacity: 1;
}

/* line 477, ../sass/style.scss */
.ch-info {
  display: table;
}

/* line 481, ../sass/style.scss */
.member {
  display: table-cell;
  vertical-align: middle;
}

/* line 486, ../sass/style.scss */
ul.social {
  padding: 0;
  margin: 0;
  list-style: 0;
  text-align: center;
}
/* line 491, ../sass/style.scss */
ul.social li {
  display: inline-block;
}
/* line 493, ../sass/style.scss */
ul.social li a i {
  font-size: 2em;
  color: #999999;
}

/* Logos -----------------------------*/
/* line 502, ../sass/style.scss */
.parallax-bg2 {
  background-image: url("../img/bg-02.jpg");
  padding: 0;
}

/* line 508, ../sass/style.scss */
.logos .container {
  padding: 10% 0;
  text-align: center;
}
/* line 512, ../sass/style.scss */
.logos img {
  margin: 2% 0;
}
/* line 514, ../sass/style.scss */
.logos img:hover {
  opacity: 0.5;
}

/* Gallery -----------------------------*/
/* line 522, ../sass/style.scss */
.gallery img {
  -webkit-border-radius: 2px;
  /* Safari & Chrome */
  -moz-border-radius: 2px;
  /* Firefox */
  -ms-border-radius: 2px;
  /* Internet Explorer */
  -o-border-radius: 2px;
  /* Opera */
  border-radius: 2px;
  /* W3C */
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -ms-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
}

/* line 540, ../sass/style.scss */
.imageinfo {
  padding: 15px 0;
  border-bottom: 1px solid #000;
  margin-bottom: 50px;
}

/* line 547, ../sass/style.scss */
.gallery h2 a {
  color: white;
  background: transparent;
  font-size: 2.1em;
  font-family: "Quicksand", sans-serif;
  margin: 0;
  text-transform: uppercase;
}
/* line 555, ../sass/style.scss */
.gallery .port-item i {
  font-size: 0.4em;
}
/* line 559, ../sass/style.scss */
.gallery h2 a::before, .gallery h2 a::after {
  display: inline-block;
  opacity: 0;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
  -moz-transition: -moz-transform 0.3s, opacity 0.2s;
  transition: transform 0.3s, opacity 0.2s;
}
/* line 566, ../sass/style.scss */
.gallery h2 a::before {
  margin-right: 10px;
  content: '[';
  -webkit-transform: translateX(20px);
  -moz-transform: translateX(20px);
  transform: translateX(20px);
}
/* line 573, ../sass/style.scss */
.gallery h2 a::after {
  margin-left: 10px;
  content: ']';
  -webkit-transform: translateX(-20px);
  -moz-transform: translateX(-20px);
  transform: translateX(-20px);
}
/* line 581, ../sass/style.scss */
.gallery h2 a:hover::before, .gallery h2 a:hover::after {
  opacity: 1;
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  transform: translateX(0px);
}
/* line 589, ../sass/style.scss */
.gallery h2 a:focus::before, .gallery h2 a:focus::after {
  opacity: 1;
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  transform: translateX(0px);
}

/* Effect: Brackets */
/* line 601, ../sass/style.scss */
.port-item {
  overflow: hidden;
  position: relative;
  display: block;
  -webkit-transition: ease-in .4s;
  -moz-transition: ease-in .4s;
  -o-transition: ease-in .4s;
  -ms-transition: ease-in .4s;
  transition: ease-in .4s;
}
/* line 610, ../sass/style.scss */
.port-item:hover img {
  opacity: 0.7;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  transform: scale(1.5);
  -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5);
}

/* line 619, ../sass/style.scss */
.hovers {
  color: white;
  font-size: 12em;
  font-weight: 300;
  text-align: center;
  left: 50%;
  margin-left: -30px;
  margin-top: -30px;
  position: absolute;
  top: 20%;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  opacity: 0;
  -webkit-transition: ease-in .4s;
  -moz-transition: ease-in .4s;
  -o-transition: ease-in .4s;
  -ms-transition: ease-in .4s;
  transition: ease-in .4s;
}

/* line 638, ../sass/style.scss */
.port-item:hover .hovers {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  opacity: 1 !important;
  z-index: 9999;
  top: 30%;
}

/* Tour  -----------------------------*/
/* line 647, ../sass/style.scss */
ul.pricing-table {
  width: 24.9%;
  float: left;
  margin: 1px 0 0 -1px;
  position: relative;
  border: 1px solid black;
}
/* line 653, ../sass/style.scss */
ul.pricing-table li.header {
  padding: 0;
}
/* line 656, ../sass/style.scss */
ul.pricing-table h2 {
  font-size: 1.8em;
  padding: 24px 24px;
  font-weight: 200;
  text-align: left;
  text-transform: uppercase;
  color: white;
  margin: 0;
  font-weight: 300;
  position: relative;
  background: #000;
}

/* line 670, ../sass/style.scss */
.pricing-table li {
  background: rgba(0, 0, 0, 0.5);
  text-align: left;
  padding: 25px 15px;
  margin: 0;
  font-size: 1.5em;
  border-top: 1px solid #000;
  line-height: 2.2em;
}
/* line 678, ../sass/style.scss */
.pricing-table li i {
  color: #292929;
  display: block;
  float: left;
  font-size: 1.5em;
  vertical-align: baseline;
  margin-right: 4%;
}
/* line 686, ../sass/style.scss */
.pricing-table li a {
  color: #bbb;
}
/* line 688, ../sass/style.scss */
.pricing-table li a.activated:hover {
  color: #bbb;
}

/* extra --------------------------*/
/* line 696, ../sass/style.scss */
.parallax-bg3 {
  background-image: url("../img/bg-03.jpg");
}

/* line 702, ../sass/style.scss */
.extra .row-fluid [class*="span"]:first-child {
  margin-right: 0;
}
/* line 705, ../sass/style.scss */
.extra .row-fluid [class*="span"]:last-child {
  margin-left: 0;
}
/* line 709, ../sass/style.scss */
.extra .container {
  padding: 10% 0 10% 0;
}
/* line 712, ../sass/style.scss */
.extra .video iframe {
  width: 100%;
}

/* line 717, ../sass/style.scss */
.accordion-group ol {
  list-style-type: decimal;
  position: relative;
  display: block;
  list-style-position: inside;
  margin-left: 2%;
}
/* line 723, ../sass/style.scss */
.accordion-group ol li {
  font-size: 1.4em;
  line-height: 1.6em;
  margin-bottom: 10px;
}

/* line 730, ../sass/style.scss */
.accordion-heading img {
  margin: 0 5px 0 0;
  vertical-align: -4px;
}

/* line 735, ../sass/style.scss */
.accordion-group h3 {
  font-size: 1.8em;
}

/* Discography --------------------------*/
/* line 742, ../sass/style.scss */
.discography a.soundcloudplayer {
  display: block;
  position: relative;
}
/* line 746, ../sass/style.scss */
.discography a span {
  width: 53px;
  height: 53px;
  top: 30%;
  right: 40%;
  display: block;
  position: absolute;
  text-align: center;
  background: rgba(0, 0, 0, 0.7);
  -webkit-border-radius: 50%;
  /* Safari & Chrome */
  -moz-border-radius: 50%;
  /* Firefox */
  -ms-border-radius: 50%;
  /* Internet Explorer */
  -o-border-radius: 50%;
  /* Opera */
  border-radius: 50%;
  /* W3C */
}
/* line 765, ../sass/style.scss */
.discography a span i {
  color: white;
  font-size: 3em;
  margin: 0 !important;
  text-align: center;
  padding: 0;
  vertical-align: baseline;
  line-height: 1.6em;
  display: inline-block;
}
/* line 776, ../sass/style.scss */
.discography a:hover img {
  opacity: 0.5;
}

/* Videos --------------------------*/
/* line 783, ../sass/style.scss */
.carousel-inner {
  position: relative;
  width: 90%;
  overflow: hidden;
  text-align: center;
  margin: 0 auto;
}

/* line 791, ../sass/style.scss */
.carousel-control {
  position: absolute;
  top: 40%;
  left: 15px;
  width: 35px;
  height: 35px;
  margin-top: -20px;
  font-size: 46px;
  font-weight: 100;
  line-height: 26px;
  text-align: center;
  background: transparent;
  -webkit-border-radius: 23px;
  -moz-border-radius: 23px;
  border-radius: 23px;
}
/* line 806, ../sass/style.scss */
.carousel-control:hover, .carousel-control:focus {
  border-color: #292929;
  color: #292929;
}

/* line 813, ../sass/style.scss */
.videos .item {
  float: left;
}
/* line 816, ../sass/style.scss */
.videos img {
  margin-bottom: 15%;
  max-width: 100%;
  height: auto;
}
/* line 822, ../sass/style.scss */
.videos a.iframe {
  display: block;
  position: relative;
}
/* line 826, ../sass/style.scss */
.videos a span {
  width: 53px;
  height: 53px;
  top: 30%;
  right: 40%;
  display: block;
  position: absolute;
  text-align: center;
  background: rgba(0, 0, 0, 0.7);
  -webkit-border-radius: 50%;
  /* Safari & Chrome */
  -moz-border-radius: 50%;
  /* Firefox */
  -ms-border-radius: 50%;
  /* Internet Explorer */
  -o-border-radius: 50%;
  /* Opera */
  border-radius: 50%;
  /* W3C */
}
/* line 845, ../sass/style.scss */
.videos a span i {
  color: white;
  font-size: 3em;
  margin: 0 !important;
  text-align: center;
  padding: 0;
  vertical-align: baseline;
  line-height: 1.6em;
  display: inline-block;
}
/* line 856, ../sass/style.scss */
.videos a:hover img {
  opacity: 0.5;
}

/* Twitter -----------------------------*/
/* line 864, ../sass/style.scss */
.parallax-bg4 {
  background-image: url("../img/bg-04.jpg");
}

/* line 869, ../sass/style.scss */
.twitter .container {
  padding: 6% 0;
}
/* line 872, ../sass/style.scss */
.twitter h3 {
  font-size: 2.2em;
}

/* line 877, ../sass/style.scss */
.icon-twitter {
  font-size: 9em;
}

/* News ------------------------------*/
/* line 884, ../sass/style.scss */
.blog h2 {
  font-family: "Chivo", sans-serif;
  font-size: 3em;
}
/* line 888, ../sass/style.scss */
.blog article {
  margin-bottom: 3%;
}
/* line 891, ../sass/style.scss */
.blog h3 {
  margin: 4% 0;
}
/* line 893, ../sass/style.scss */
.blog h3 a {
  font-size: 2.3em;
  font-family: "Quicksand", sans-serif;
  color: white;
}
/* line 899, ../sass/style.scss */
.blog .post-meta {
  margin: 3% 0;
}
/* line 901, ../sass/style.scss */
.blog .post-meta a {
  color: #bcbcbc;
  font-size: 1.2em;
  line-height: 1em;
}
/* line 906, ../sass/style.scss */
.blog .post-meta i {
  color: #292929;
  font-size: 1.5em;
  vertical-align: baseline;
  margin-right: 1%;
}
/* line 913, ../sass/style.scss */
.blog .ctablog {
  font-size: 2.3em;
  font-family: "Quicksand", sans-serif;
  color: white;
  background: #292929;
  width: 98%;
  text-shadow: none;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  padding: 2% 1%;
}
/* line 925, ../sass/style.scss */
.blog iframe {
  width: 100%;
}

/* News:widget ------------------------------*/
/* line 933, ../sass/style.scss */
.tour-dates li.einfo {
  clear: both;
  float: left;
  width: 100%;
  margin: 0 0 8% 0;
  padding: 0 0 20px 0;
  border-bottom: 1px solid #292929;
}
/* line 941, ../sass/style.scss */
.tour-dates .post-date {
  float: left;
  margin-right: 3%;
  width: 40px;
  display: inline;
  font-size: 1.6em;
  text-transform: uppercase;
}

/* line 951, ../sass/style.scss */
.post-meta-more {
  float: left;
}
/* line 953, ../sass/style.scss */
.post-meta-more h3 {
  margin-top: 0;
}

/* line 958, ../sass/style.scss */
.tour-dates .post-meta-more .btn {
  box-shadow: none;
  text-shadow: none;
  color: white;
  font-size: 1.2em;
  border-radius: 0;
  border: 0;
}
/* line 965, ../sass/style.scss */
.tour-dates .post-meta-more .btn:hover {
  background: #000;
}

/* Map ------------------------------*/
/* line 972, ../sass/style.scss */
#map iframe {
  width: 100%;
}

/* Footer ------------------------------*/
/* line 978, ../sass/style.scss */
footer {
  width: 100%;
  text-align: center;
  padding: 6% 0 1% 0;
}
/* line 982, ../sass/style.scss */
footer i {
  margin-bottom: 15px;
  font-size: 8em;
  display: block;
  color: #292929;
}
/* line 988, ../sass/style.scss */
footer .copyright {
  padding-top: 8%;
}
/* line 990, ../sass/style.scss */
footer .copyright h6 {
  font-size: 1.1em;
  text-transform: uppercase;
  font-weight: 400;
  color: #77777a;
  letter-spacing: 0.20em;
}

/* Go to top ------------------------------------*/
/* line 1002, ../sass/style.scss */
.scrollup {
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 80px;
  right: 30px;
  display: none;
  background: transparent url("../img/to-top.png") center center no-repeat;
}
/* line 1010, ../sass/style.scss */
.scrollup i {
  color: white;
  text-align: center;
  display: block;
  line-height: 48px;
  font-size: 20px;
}
/* line 1017, ../sass/style.scss */
.scrollup:hover {
  opacity: 0.7;
}
